extends layout

block content
  .columns
    .column.is-one-quarter.is-hidden-mobile
      .card
        .card-content
          aside.menu
            .menu-label Folders
            ul.menu-list
              li Dashboard
              li Customers
            .menu-label Tags

    .column
      .card
        .card-content
          button.button.is-success#new-modal New
          table.table.is-stripped.is-hoverable.is-fullwidth
            thead.thead
              tr
                th Name
                th Price
                th Cycle
            tbody.tbody
              each p in list
                tr
                  td= p.name
                  td= "$" + p.price
                  td= p.cycletype


  .modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title New Recurring Payment
      section.modal-card-body
        form(action="/api/recur/new" method="POST")
          input.is-hidden(name="redirectUrl", value="/")
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body
              .control
                input.input(name="name" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Price
            .field-body
              .control
                input.input(name="price" type="number" min="0" step="0.01" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Due Next
            .field-body
              .control
                input.input(name="date" type="date" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Cycle
            .field-body
              .control
                .select
                  select(name="cycle_type")
                    option Yearly
                    option Monthly
                    option Weekly
          .field.is-pulled-right
            button.button.is-info Add