extends layout

block content
  .columns
    .column.is-one-quarter.is-hidden-mobile
      .card
        .card-content
          aside.menu
            .menu-label Folders
            ul.menu-list
              li Dashboard
              li Customers
            .menu-label Tags

    .column
      .card
        .card-content
          button.button.is-success#new-modal New
          table.table
            thead.thead
            tbody.tbody

  .modal.is-active
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title New Recurring Payment
      section.modal-card-body
        form()
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body.is-grouped
              .control
                input.input()
              .control.has-icons-right
                input.input
          .field
            label.label Due Next
            .control
              input.input(type="date")
          .field.is-pulled-right
            button.button.is-info Add

