doctype html
html
  head
    if (subtitle)
      title= "Recurr | " + subtitle
    else 
      title Recurr
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
  body
    nav.navbar.is-primary.mb-4(role="navigation" aria-label="main navigation")
      .navbar-brand
        a.navbar-item(href="/")
          .is-size-3 Recurr

    .container 
      block content
